<header>
  <h1>Examples</h1>
</header>
<section id="examples-cards">
  <mat-card [routerLink]="'ui'">
    <mat-card-header>
      <mat-card-title>UI Controls</mat-card-title>
      <mat-card-subtitle>
        Buttons, Toggle Buttons, Check Boxes, Radio Buttons, and Slide Toggles
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card [routerLink]="'api'">
    <mat-card-header>
      <mat-card-title>API Calls</mat-card-title>
      <mat-card-subtitle>
        Making API calls, subscribing to the response, handling errors, and parsing data into models
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card [routerLink]="'state-management'">
    <mat-card-header>
      <mat-card-title>State Management</mat-card-title>
      <mat-card-subtitle>
        Passing data between components and persisting state using the Web Storage API
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</section>
