@import "../../sass/variables.scss";

:host {
  width: 100%;
  max-width: 1200px;
  height: calc(100% - 300px); // 300px for padding
  padding: 150px 10vw;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

* {
  line-height: 1.8rem;
  color: #0c1327;
}

.mat-raised-button {
  margin: 0px 0px 5px 10px;
}

.stomp {
  display: flex;
  flex-direction: column;
}

.rabbit {
  display: flex;
  flex-direction: column;
}

.api {
  width: 50%;
}

.mat-form-field {
  width: 80%;
}

div#indicator {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 0 10px;
  display: inline-block;
  background: #ffbf00;
  /* Ember by default, will be used for CONNECTING and CLOSING */
}

div.CLOSED#indicator {
  background: red;
}

div.OPEN#indicator {
  background: green;
}
